@import url(http://fonts.googleapis.com/css?family=Balthazar);
@import url('http://fonts.googleapis.com/css?family=Lobster');


html, body, div, a, ul, li, dl, dd, dt h1, p{margin:0px; padding:0px;}

body{font-family:Arial, Helvetica, sans-serif; background:none; background:#ffffff;line-height:1 !important;}
a{color:#fff;}

.nodisplay{display:none;}
a:link, a:visited, a{border:none !important;}
#menu1{top:32% !important;}
#menu1 a {color:black;background-color:white;text-decoration:none;text-indent:1ex;}
#menu1 a:active {color:black;text-decoration:none;}
#menu1 a:hover {color:black;background-color:#FFFF99}
#menu1 a:visited {color:black;text-decoration:none;}
#menu2 a {color:navy;background-color:white;text-decoration:none;text-indent:1ex;}
#menu2 a:active	{color:blue;text-decoration:none;}
#menu2 a:visited {color:blue;text-decoration:none;}
#menu2 a:hover {color:navy;background-color:#f0fea8}

#content_wrapper{width:960px; margin:0 auto; position:relative;}

.matrix { font-family:Arial, Helvetica, sans-serif; font-size:14px; text-align:center; width:8px; padding:0px; margin:0px;}
#menu3 a {color:black; background-color:white; text-decoration:none; text-indent:1ex;}
body#links h2{color:#004B97; font-size:24px; width:100%; display:block; float:left; margin:10px 0 15px 0; font-weight:normal; font-family:'Balthazar',serif;}

.last_update {position: absolute; right: 59px; font-size: 11px; top: 15px; color: #000; font-weight: bold;}
.current_time{position: absolute;  font-size: 14px;  top: 20px;   color: #000;  font-weight: bold;}
#menu3 a:hover{color:black;background-color:#FFFF99;}
#menu3 a:active{color:black;text-decoration:none;}
#menu3 a:visited{color:black;text-decoration:none;}
.links{background:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; -ms-border-radius:5px; border:1px solid #5C6972; margin:0 10px 10px 0; padding:0 0 10px 0; }
.links_sec{list-style-type:box; margin:0; width:230px; min-height:230px;}
#menu1{top:32% !importnat;} 
.links_sec li{list-style-type:none; font-family: 'Balthazar', serif;}
.links_sec li a{font-size:18px; display: block; color:#004B97; width: auto; margin:0 2px; text-decoration: none; border:none; padding:10px 0 10px 20px;}
.links_sec li a:hover{text-decoration:underline;}
#footer{background:#333232; width:100%; float:left; padding:10px 0 40px 0; color:#fff; }
#footer .contact{width:960px; margin:0 auto; position:relative;}
#footer .contact p{line-height:18px;}
#footer .contact h2{color:#fff; margin:10px 0 10px 0;}
.name {color: #000000;	font-weight: bold;	font-size: 24px;}
.heading {color: #fff;	border-bottom:1px solid #999;	font-size: 18px;	padding:10px 0 10px 20px; 	list-style-type:none;	background:#5C6972;	margin-bottom:10px;}
.head{font-weight: bold; font-size: 16px; color:#ff8f34}
.small{font-weight: bold; font-size: 14px; color:#000000}
.small_content{font-size: 12px;	color:#000000}
a.back{color:#000; font-weight:bold; font-size:14px; position:absolute; right: 60px; text-decoration: none; top: 40px;}
a.back:hover{text-decoration:underline;}
#links_div{float:left; width:100%; margin:60px 0 20px 0;}
#links_div .links.last{margin-right:0px;}

.linkdin {position:absolute; right:0; top:10px;}
.facebook{position:absolute; right:170px; top:10px;}
.twitter{position:absolute; right:276px; top:0px;}
.left{float:left;}
.right{float:right;}
.webs{position:absolute; top:90px; right:0px;}
#footer{margin-top:20px;}
body#links #footer{margin-top:20px;}
#footer .contact p.logo {left: 226px; position: absolute; top: 0;}
p.count{position:absolute; top:10px; right:0px;}
p.visitors{position:absolute; top:-30px; left:0px;}
#footer .contact p.logo img{border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; -ms-border-radius:5px; height:139px;}
.facebook_badge {left: 167px;  position: relative;  top: -26px; width:600px;}

body:before{box-shadow:0 0 10px rgba(0, 0, 0, 0.9); -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.9); content:""; height:15px; left:0; position:fixed; top:-15px; width:100%; z-index:100; -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.9); -o-box-shadow:0 0 10px rgba(0, 0, 0, 0.9); -ms-box-shadow:0 0 10px rgba(0, 0, 0, 0.9);}

::-moz-selection {background: #FF5E99; color:#fff; text-shadow:none;}
::-webkit-selection {background: #FF5E99; color:#fff; text-shadow:none;}
::-o-selection {background: #FF5E99; color:#fff; text-shadow:none;}
::-ms-selection {background: #FF5E99; color:#fff; text-shadow:none;}
::selection { background: #FF5E99; color:#fff; text-shadow:none;}

.links_sec li a{background:url(../images/def_favicon.jpg) no-repeat 6px 10px; padding-left:30px; background-size:16px 16px; -moz-background-size:16px 16px; -webkit-background-size:16px 16px; -o-background-size:16px 16px; -ms-background-size:16px 16px;}

.links_sec li a[href *="google.co.in"], .links_sec li a[href *="gmail.com"], .links_sec li a[href *="orkut.com"] {background-image:url(http://www.google.co.in/favicon.ico);}
.links_sec li a[href *="yahoo.com"]{background-image:url(http://www.yahoo.com/favicon.ico);}
.links_sec li a[href *="rediff.com"]{background-image:url(http://www.rediff.com/favicon.ico);}
.links_sec li a[href *="bing.com"]{background-image:url(http://www.bing.com/favicon.ico);}
.links_sec li a[href *="search.com"]{background-image:url(http://www.search.com/favicon.ico);}
.links_sec li a[href *="w3schools.com"]{background-image:url(http://www.w3schools.com/favicon.ico);}
.links_sec li a[href *="dynamicdrive.com"]{background-image:url(http://www.dynamicdrive.com/favicon.ico);}
.links_sec li a[href *="drupal.org"]{background-image:url(http://drupal.org/favicon.ico);}
.links_sec li a[href *="jquery.com"]{background-image:url(http://jquery.com/favicon.ico);}
.links_sec li a[href *="pixlr.com"]{background-image:url(http://pixlr.com/favicon.ico);}
.links_sec li a[href *="colorschemedesigner.com"]{background-image:url(http://colorschemedesigner.com/favicon.ico);}
.links_sec li a[href *="webdesignne.ws"]{background-image:url(http://www.webdesignne.ws/wp/wp-content/themes/webdesign/images/favicon.ico);}
.links_sec li a[href *="webstuffshare.com"]{background-image:url(http://www.webstuffshare.com/wp-content/themes/webstuffshare/images/favicon.ico);}
.links_sec li a[href *="red-team-design.com"]{background-image:url(http://www.red-team-design.com/favicon.ico);}
.links_sec li a[href *="juude.info"]{background-image:url(http://www.juude.info/favicon.ico);}
.links_sec li a[href *="html5canvastutorials.com"]{background-image:url(http://www.html5canvastutorials.com/wp-content/themes/webkrunk/favicon.ico);}
.links_sec li a[href *="juude.info"]{background-image:url(http://www.juude.info/favicon.ico);}
.links_sec li a[href *="css3files.com"]{background-image:url(http://www.css3files.com/favicon.ico);}
.links_sec li a[href *="nicolasgallagher.com"]{background-image:url(http://nicolasgallagher.com/favicon.ico);}
.links_sec li a[href *="css-tricks.com"]{background-image:url(http://css-tricks.com/favicon.png);}
.links_sec li a[href *="downloadjavascripts.com"]{background-image:url(http://www.downloadjavascripts.com/favicon.ico);}
.links_sec li a[href *="browsershots.org"]{background-image:url(http://browsershots.org/favicon.ico);}
.links_sec li a[href *="codebeautifier.com"]{background-image:url(http://www.codebeautifier.com/favicon.ico);}
.links_sec li a[href *="downloadjavascripts.com"]{background-image:url(http://www.downloadjavascripts.com/favicon.ico);}
.links_sec li a[href *="browsershots.org"]{background-image:url(http://browsershots.org/favicon.ico);}
.links_sec li a[href *="lea.verou.me"]{background-image:url(http://lea.verou.me/favicon.ico);}
.links_sec li a[href *="tympanus.net"]{background-image:url(http://tympanus.net/favicon.ico);}
.links_sec li a[href *="dabblet.com"]{background-image:url(http://dabblet.com/favicon.ico);}
.links_sec li a[href *="tatadocomo.com"]{background-image:url(http://www.tatadocomo.com/favicon.ico);}
.links_sec li a[href *="sakshi.com"]{background-image:url(http://www.sakshi.com/images/favicon.ico);}
.links_sec li a[href *="hdfcbank.com"], .links_sec li a[href *="billdesk.com/ubp/hdfc/index.jsp"]{background-image:url(http://www.hdfcbank.com/favicon.ico);}
.links_sec li a[href *="irctc.co.in"]{background-image:url(https://www.irctc.co.in/favicon.ico);}
.links_sec li a[href *="plus.google.com"]{background-image:url(https://ssl.gstatic.com/s2/oz/images/faviconr2.ico);}
.links_sec li a[href *="telugu.oneindia.in"]{background-image:url(http://telugu.oneindia.in/favicon.ico);}
.links_sec li a[href *="greatandhra.com"]{background-image:url(http://www.greatandhra.com/favicon.ico);}
.links_sec li a[href *="namastheandhra.com"]{background-image:url(http://namastheamerica.com/wp-content/themes/playmaker5/images/favicon.ico);}
.links_sec li a[href *="ap7am.com"]{background-image:url(http://www.ap7am.com/favicon.ico);}
.links_sec li a[href *="sify.com"]{background-image:url(http://www.sify.com/favicon.ico);}
.links_sec li a[href *="telugu.thatscricket.com"]{background-image:url(http://telugu.thatscricket.com/favicon.ico);}
.links_sec li a[href *="andhrajyothy.com"]{background-image:url(http://www.andhrajyothy.com/files/favicon.ico);}
.links_sec li a[href *="lemondove.com"]{background-image:url(http://lemondove.com/favicon.ico);}
.links_sec li a[href *="cssplay.co.uk"]{background-image:url(http://www.cssplay.co.uk/favicon.ico);}
.links_sec li a[href *="bradshawenterprises.com"]{background-image:url(http://css3.bradshawenterprises.com/favicon.ico);}
.links_sec li a[href*="relianceada.com"]{background-image: url(http://www.rcom.co.in/favicon.ico);}
.links_sec li a[href*="cssportal.com"]{background-image: url(http://www.cssportal.com/favicon.ico);}
.links_sec li a[href*="gradcolor.com"]{background-image: url(http://gradcolor.com/img/favicon.ico);}
.links_sec li a[href*="matthewlein.com"]{background-image: url(http://matthewlein.com/favicon.ico);}
.links_sec li a[href*="stunicholls.com"]{background-image: url(http://www.stunicholls.com/favicon.ico);}
.links_sec li a[href*="pixelzdesign.com"]{background-image: url(http://www.pixelzdesign.com/favicon.ico);}
.links_sec li a[href*="jquerytools.org"]{background-image: url(http://jquerytools.org/media/img/favicon.ico);}
.links_sec li a[href*="logicbox.net"]{background-image: url(http://logicbox.net/favicon.ico);}
.links_sec li a[href*="home.cogeco.ca"]{background-image: url(http://home.cogeco.ca/~ve3ll/images/favicon.ico);}
.links_sec li a[href*="sitepoint.com"]{background-image: url(http://www.sitepoint.com/wp-content/themes/thesis/custom/images/favicon.ico);}
.links_sec li a[href*="webdesigncreare.co.uk"]{background-image: url(http://www.creare-webdesign.co.uk/img/favicon.ico);}
.links_sec li a[href*="paper-leaf.com"]{background-image: url(http://www.paper-leaf.com/favicon.ico);}
.links_sec li a[href*="home.cogeco.ca"]{background-image: url(http://home.cogeco.ca/~ve3ll/images/favicon.ico);}
.links_sec li a[href*="gettyimages.com"]{background-image: url(http://www.gettyimages.in/favicon.ico);}
.links_sec li a[href*="istockphoto.com"]{background-image: url(http://i.istockimg.com/favicon.ico);}
.links_sec li a[href*="iconarchive.com"]{background-image: url(http://www.iconarchive.com/favicon.ico);}
.links_sec li a[href*="iconfinder.com"]{background-image: url(http://cdn0.iconfinder.com/design/images/favicon.ico);}
.links_sec li a[href*="dreamtemplate.com"]{background-image: url(http://www.dreamtemplate.com/favicon.ico);}
.links_sec li a[href*="template-help.com"]{background-image: url(http://www.template-help.com/favicon.ico);}
.links_sec li a[href*="templatemonster.com"]{background-image: url(http://images.templatemonster.com/images/favicon.ico);}
.links_sec li a[href*="tutsplus.com"]{background-image: url(http://www.tutsplus.com/favicon.ico);}
.links_sec li a[href*="jobrapido.com"]{background-image: url(http://in.jobrapido.com/images/favicon.ico);}
.links_sec li a[href*="prefixr.com"]{background-image: url(http://prefixr.com/favicon.ico);}
.links_sec li a[href*="polepallesunil.webs.com"]{background-image: url(http://polepallesunil.webs.com/favicon.ico);}
.links_sec li a[href*="apherald.com"]{background-image: url(http://www.apherald.com/images/favicon.ico);}
.links_sec li a[href*="eenadu.net"]{background-image: url(http://www.eenadu.net/favicon.ico);}
.links_sec li a[href*="colorzilla.com"]{background-image: url(http://www.colorzilla.com/favicon.ico);}
.links_sec li a[href*="apsrtconline.in"]{background-image: url(http://www.apsrtconline.in/favicon.ico);}
.links_sec li a[href*="redbus.in"]{background-image: url(http://www.redbus.in/favicon.ico);}
.links_sec li a[href*="ksrtc.in"]{background-image: url(http://www.ksrtc.in/site/favicon.ico);}
.links_sec li a[href*="twitter.com"]{background-image: url(http://si0.twimg.com/favicons/favicon.ico);}
.links_sec li a[href*="onlinesbi.com"]{background-image: url(http://onlinesbi.com/favicon.ico);}
.links_sec li a[href*="youtube.com"]{background-image: url(http://s.ytimg.com/yts/img/favicon-vfldLzJxy.ico);}
.links_sec li a[href*="facebook.com"]{background-image: url(https://s-static.ak.facebook.com/rsrc.php/yP/r/Ivn-CVe5TGK.ico);}
.links_sec li a[href*="cricinfo.com"]{background-image: url(http://www.espncricinfo.com/favicon.ie9new.ico);}








#footer .contact p.contact{position:fixed; top:40%; right:0px; width:auto; -moz-transform:rotate(90deg); -webkit-transform:rotate(90deg); -o-transform:rotate(90deg); -ms-transform:rotate(90deg); transform:rotate(90deg); width:30px;}
#subscribe{float:left; width:960px;}
#subscribe form{text-align:center;}
#subscribe label{line-height:48px; font-size:0px; color:#999;}
#subscribe {
	text-align: center;
	margin-bottom:0;
        margin-top:10px;
}

#subscribe input[type="text"] { 
	width: 280px;
	height: 22px;
	color: #4b4b4b;
	text-align: center;
	vertical-align: top;
	margin: 1px 0 0 0; 
	border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	border: 1px solid #CCCCCC;
	font-size:14px;
    padding:6px 0;
	font-family:arial;
}


#subscribe input.submit { 
	width: 133px; 
	height: 35px; 
	border: none; 
	cursor: pointer; 
	background:#D31D1D; 
	vertical-align: top;
	color:#fff;
	border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	margin-left:5px;
	font-size:18px;
}


#subscribe input.submit:hover { 
	opacity:0.8;
	-webkit-opacity:0.8;
}

/* Shadow And Animation Effect */

.links_sec li a:hover{
	text-decoration:none; 
	text-shadow:1px 1px 2px #333;
	-webkit-transition: all .20s ease-out;
	-moz-transition: all .20s ease-out;
	-o-transition: all .20s ease-out;
	-ms-transition: all .20s ease-out;
	transition: all .20s ease-out;
	padding-left:40px;
}
.links_sec li a{
	-webkit-transition:all 0.4s ease-out 0s;
	-moz-transition:all 0.4s ease-out 0s;
	-o-transition:all 0.4s ease-out 0s;
	-ms-transition:all 0.4s ease-out 0s;
	transition:all 0.4s ease-out 0s;
 }
.heading{text-shadow:1px 1px 2px #333;}



/* Header */


body {
	line-height: 1.5;
	font-family:'Balthazar',serif;;
	color:#666; 
	text-align:left;
	margin: 0;
	padding:0; 
	background: url("../images/nav_bg.png") repeat-x scroll center top #fff;
}

a:link, a:visited {
	border-bottom:1px dashed;
	color:#333333;
	padding-bottom:0.1em;
	padding-bottom:0em;
	text-decoration:none;
	display: inline-block\9;
	*line-height: 1.1em;
}


#fw-container {
	width: 960px;
	margin: 0 auto;
	position:relative;
	height: 85px;
}

#fw-head{float:left;}

#fw-head h1 { 
	font: normal 22px 'Lobster', arial, serif; 
	margin:0; padding-top:4px; 
	display: inline-block;
	float:left;
}



ul.fw-nav-level-0{float:right; margin-top:25px;}
ul.fw-nav-level-0 li{display:inline;}
ul.fw-nav-level-0 li a{font-size:18px; padding:0 10px; color:#fff; font-weight:bold; font-family:'Balthazar',serif;}

#fw-head h1 a {
    border: 0 none;
    color: #FFFFFF;
    font-size:30px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 2px 2px 10px #000000;
	margin:7px 0 0 0;
	float:left;
}

#fw-container ul li{display:inline;}


@media screen and (min-width:768px) and (max-width:960px){
	input, img{max-width:100%;}
	#fw-container{width:100%;}
	#content_wrapper{width:100%; float:left;}
	#footer .contact{width:98%;}
	#subscribe{width:100%;}
	.links_sec{width:100%; display:block; float:none;}
	.links{width:30%; margin-left:3px; margin-right:8px;}
	.current_time, .linkdin, .facebook, .twitter{display:none;}
	#fw-container ul li{background: none #2E2C2C; display:block; float:left; margin-right:3px; margin-top:1px; padding:8px 0; text-align:left; width:32%;}
        #links_div .links.last{margin-right:8px;}
	#footer .contact{text-align:left; padding:0 5px;}
	body#links h2{width:98%; padding:0 5px;}
	#footer .contact p.logo{left:38%; bottom:0px;}
	#fw-head{width:100%; text-align:center;}
	#fw-head h1{float:none;}
	ul.fw-nav-level-0{float:left; width:99%; padding:0 3px; margin-top:50px;}
	#links_div{margin-top:16px; width:99%;}
       .facebook_badge{display:none;}
}

@media screen and (min-width:321px) and (max-width:768px){
	input, img{max-width:100%;}
	#fw-container{width:100%;}
	#content_wrapper{width:100%; float:left;}
	#footer .contact{width:98%;}
	#subscribe{width:100%;}
	.links_sec{width:100%; display:block; float:none;}
	.links{width:98%; margin-left:3px; margin-right:8px;}
	.current_time, .linkdin, .facebook, .twitter{display:none;}
	#fw-container ul li{background: none #2E2C2C; display:block; float:left; margin-right:3px; margin-top:1px; padding:8px 0; text-align:left; width:32%;}
	#footer .contact{text-align:left; padding:0 5px;}
	body#links h2{width:98%; padding:0 5px;}
	#footer .contact p.logo{left:38%; bottom:0px;}
	#fw-head{width:100%; text-align:center;}
	#fw-head h1{float:none;}
	ul.fw-nav-level-0{float:left; width:99%; padding:0 3px; margin-top:50px;}
	#links_div{margin-top:16px; width:99%;}
  .facebook_badge{display:none;}
}

@media screen and (max-width:320px){
	input, img{max-width:100%;}
	#fw-container{width:100%;}
	#content_wrapper{width:100%; float:left;}
	#footer .contact{width:96%;}
	#subscribe{width:100%;}
	.links_sec{width:100%; display:block; float:none;}
	.links{width:96%; margin-left:3px;}
	.current_time, .linkdin, .facebook, .twitter{display:none;}
	#fw-container ul li{background: none #2E2C2C; display:block; float:left; margin-top:1px; padding:0; text-align:left; width:97%;}
	#fw-container ul li a{padding:8px 10px; width:93%; float:left; margin-right:0px; width:100%:}
	.last{margin-right:0px;}
	#footer .contact{text-align:left; padding:0 5px;}
	body#links h2{width:98%; padding:0 5px;}	
	#fw-head{width:100%; text-align:center;}
	#fw-head h1{float:none;}
	ul.fw-nav-level-0{float:left; width:97%; padding:0 3px; margin-top:50px;}
	#links_div{margin-top:16px; width:99%;}
	.links{margin-right:0px;}
	#footer .contact p.contact{display:none;}
#subscribe {
    margin: 0 0 35px;
    width: 100%;
}
#latestnews{display:none;}
	#footer .contact p.logo{left:0px; bottom:0px;}
	#subscribe input[type="text"]{width:200px;}
	#fw-head h1 a{font-size:24px;}
	#footer .contact p.right{display:block; left:0px; float:left;}
	#footer .contact p.logo{position:relative; margin:20px 0; float:left; margin-left:18%;}
	#footer .contact p.left, #footer .contact p.right{padding-left:15px;}
	#footer .contact p{position:relative;}
	#footer .contact p.count{float:left; margin-left:15%;}
	#footer .contact p.webs{display:none;}
	#menu1{display:none;}
  .facebook_badge{display:none;}
#footer .contact p.logo {
    float: left;
    margin: 20px 0 0 0;
    position: relative;
    text-align: center;
    width: 100%;
}
#footer .contact p.count {
    float: left;
    margin: 10px 0 0 0;
    text-align: center;
    width: 100%;
}
}
.gplus {
    position: absolute;
    right: 347px;
    top: 16px;
}

.html5 {
  left: 114px;
  position: absolute;
  top: -50px;
  width: 100px;
  height:100px;
}